body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 40px;
  font-size: 1rem;
  font-weight: 1.5;
  line-height: 1.5;
  color: #292b2c;
  background-color: #6983d8;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  text-align: center;
}

.textInputContainer {
  display: flex;
  justify-content: center;
}